.DS_Store
node_modules

# build dist
.nyc_output
*.log
/dist/
/cjs/
/esm/
/release/
/debug/
/coverage/
/docs/
/tmp
/cache

# manager
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log
pnpm-lock.yaml
.pnpm-debug.log

# config
# .flh.config.js
.grs.config.js
/package.json
